html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.titulo-pagina {
    text-align: center;
    font-family: 'Poppins', sans-serif; 
    font-size: 2.8rem;
    font-weight: 700; 
    color: #333;
    margin: 40px 0;
    text-transform: uppercase; 
    letter-spacing: 1px;
    position: relative;
}

.titulo-pagina::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 3px;
    background-color: #007BFF; 
}

main {
    flex: 1;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); 
    width: 90%;
    max-width: 1200px;
    transition: transform 0.3s ease; 
    margin: 35px 0;
}


/* main:hover {
    transform: scale(1.02);
} */

@media (max-width: 768px) {
    .titulo-pagina {
        font-size: 2.2rem;
    }

    main {
        width: 95%;
        padding: 1.5rem;
    }
}

.btn-primary {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 40px auto;
}
